.root {
  h1,
  h2,
  h3 {
    margin: 0;
  }
  h1 {
    font-size: 72px;
    font-weight: 400;
    font-family: Karla;
    margin-bottom: 64px;
    padding-top: 128px;
    max-width: 490px;
    strong {
      font-weight: 700;
    }
  }
  h2 {
    font-size: 32px;
    font-family: Karla;
    margin-bottom: 64px;
    max-width: 490px;
    font-weight: 400;
  }
  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
}
