/* @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-Bold.ttf') format('truetype');
  font-weight: Bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Karla, 'sans-serif';
}
