body {
  max-height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 154, 0, 1) 0%, rgba(245, 255, 0, 1) 100%);
}

.accent {
  color: orange;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
