.index {
  width: 100%;

  &Content {
    padding: 20px 150px 20px;
    &Banner {
      position: absolute;
      right: 0;
    }
    &Title {
      font-size: 72px;
      font-weight: 400;
      font-family: Karla;
      margin-bottom: 64px;
      margin-top: 128px;
      max-width: 490px;
      strong {
        font-weight: 700;
      }
    }
    &Subtitle {
      font-size: 32px;
      font-family: Karla;
      margin-bottom: 64px;
      max-width: 490px;
    }
    &Button {
      background: #73d677;
      box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
      border-radius: 11px;
      padding: 20px 36px;
      font-size: 23px;
      font-weight: 700;
      color: black;
      text-decoration: none;
      font-family: Karla;
    }
  }
}
